{% include 'master.html' %}
{% block page_title %}
    <h2>Art:</h2>
{% endblock page_title %}

{% block page_content %}
<p>Unnamed Slice of life comic:</p>
<br>
<p>An upcoming webcomics comic about my family, nerd stuff and current events </p><br><Br>
<p>DragonBall NP:</p>
<br>
<p>As the worlds biggiest DBZ nerd, I decided to create a fan manga. More details to come</p>
<p>The Tale of Cyrus:</p>
<br>
<p>A idea of a slice of life drama I completed the story for and drew the first chapter of. I really love the
story and I want to draw the entire story.</p>
<p>Worldmap:</p>
<br>
<p>A comic I drew when I was a kid, but I never got very far and I still have tons of ideas on where it could
go. I want to redraw the first chapter and continue more of the story.</p>
<p>DragonTail:</p>
<br>
<p>A comic idea that has been floating in my head what could be 10 years at this point.
    I've never drawing it because I didn't think I was a good enough artist but the only way
to get better is draw, So I'm adding it to this list of future works so that I'm obligated to do it
</p>
<p>My stuff:</p>
<br>
<p>This will be where I'll post my personal stuff, I'm a nerd so expect Anime, video games, and general nerd stuff here</p><br><Br>
<p>Art studies and challenges:</p>
<br>
<p>I'm working on improving my art so I want to take things that help me and put them here to help anyone else
on their journey of getting better or just if you see something in my art that you love you can possibly find a
refer that helps you to learn it</p><br><Br>
{% endblock page_content %