{% include 'master.html' %}
{% block page_title %}
    <h2>Games:</h2>
{% endblock page_title %}

{% block page_content %}
<p>Game Dads Adventure:</p>
<br>
<p>A text based RPG I created for fans of my podcast, the dungeon has trivia baked into it for hardcore fans.</p>
<p>Trivia game:</p>
<br>
<p>A trivia game all about video games, comics, Anime, and general nerd stuff. Users can select what topics they want,
how many rounds, and how many players.</p>
<p>Tetris Clone:</p>
<br>
<p>A chill tetris clone </p>
<p>World Train:</p>
<br>
<p>An Adventure RPG about</p><br><Br>




{% endblock page_content %}