<html>
<Title>Amalgam Project</title>
<link rel="stylesheet" href="AmalgampWebsite/pages/templates/style.css">
<header>
<h1>Amalgam Project</h1>
  <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Portfolios</a></li>
            <li><a href="#services">Games</a></li>
            <li><a href="#contact">Art</a></li>
            <li><a href="https://GameDads.podbean.com">Podcasts</a></li>
            <li><a href="#services">About Me</a></li>
            <li><a href="https://discord.gg/5V7bfA3Kba">Discord</a></li>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" id="search" placeholder="Search">
            <button class="btn btn-sm">Search</button>
        </div>
</header>
</html>
