{% include 'master.html' %}
{% block page_title %}
    <h2>Games:</h2>
{% endblock page_title %}

{% block page_content %}
<p>Podcast App:</p>
<br>
<p>I've been working on a app to use as a time for podcast and Let's Plays to mark when episodes stop and start
And also to mark stops in the episode for edits. I want it all to be available for android and Iphone and possibly
in the future and exportable text document.</p><br><Br>
<p>Workout App:</p>
<br>
<p>An App the tracks and randomizes workouts and shows tutorials for each workout. entering your weight and reps
the app will adjust your reps and weight as you repeat the exercise.</p>

<p>A doctor management system:</p>
<br>
<p>Creating a doctors office interface that handles patients doctors, appointment, notes, prescriptions, diagnosis
locations and supplies.</p>

<p>Netflix clone:</p>
<br>
<p>A netflix clone that is designed to handle a personal movie library. I want to expand this app to also include a game
library with would include steam and emulator games and a music and photo library</p>

<p>An AI DM for Dnd games:</p>
<br>
<p>The most ambitious project an AI that can run specially designed campaigns taking inputs from users and manages stats
and items and handling dice calculations, and also can play an absent player if the users request. Allowing
games to continue with one missing player</p>


{% endblock page_content %}